@model Tarea

<div class="mb-2">
    <label asp-for="Responsable"></label>
    <input class="form-control" asp-for="Responsable" required>
    <span asp-validation-for='Responsable' class='text-danger'></span>
</div>

<div class="mb-2">
    <label asp-for="Titulo"></label>
    <textarea class="form-control" asp-for="Titulo" required></textarea>
    <span asp-validation-for='Titulo' class='text-danger'></span>
</div>

<div class='row'>

    <div class="mb-2 col-6">
        <label asp-for="Inicio"></label>
        <input class="form-control" asp-for="Inicio" required>
        <span asp-validation-for='Inicio' class='text-danger'></span>
    </div>

    <div class="mb-2 col-6">
        <label asp-for="Fim"></label>
        <input class="form-control" asp-for="Fim" required>
        <span asp-validation-for='Fim' class='text-danger'></span>
    </div>

</div>