@model Tarea
@{
    ViewData["Title"] = "Nueva Tarea";
}

<div class="d-flex">
    <h1 class='flex-grow-1'>
        <i class="fas fa-business-time"></i>
        @ViewData["Title"]
    </h1>
</div>
<hr>

<form asp-action="Criar" method="post">
    
    <partial name="_Form"/>

    <div class="form-group mt-5">
        <a asp-action="Index" class="btn btn-light"> Cancelar</a>
        <button type="submit" class="btn btn-primary"> Salvar</button>
    </div>

</form>