@model List<TaskGantt>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <svg id="gantt"></svg>
</div>

<div class="mt-3">
    <button type="button" class="btn btn-sm btn-light" onclick='ChangeViewMode("Day")'> Dia</button>
    <button type="button" class="btn btn-sm btn-light" onclick='ChangeViewMode("Week")'>Semana</button>
</div>

<input type="hidden" value='@Json.Serialize(Model)' id="jsonTareas" />

@section scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.min.css" integrity="sha512-b6CPl1eORfMoZgwWGEYWNxYv79KG0dALXfVu4uReZJOXAfkINSK4UhA0ELwGcBBY7VJN7sykwrCGQnbS8qTKhQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.min.js" integrity="sha512-HyGTvFEibBWxuZkDsE2wmy0VQ0JRirYgGieHp0pUmmwyrcFkAbn55kZrSXzCgKga04SIti5jZQVjbTSzFpzMlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/gantt.js" asp-append-version="true"></script>
}